.stylesign{
    color: #fb44be;
    font-weight: bold;
}
.stylesign:hover{
    color: black;
    background-color: white;
}
.stylesign:visited{
    background-color: white;
}

.stylesignout{
    color: white;
    cursor: pointer;
}
.stylesignout:hover{
    color: black;
    background-color: white;
}