<div class="backgroundsignin">
  <h2 class="posTitleForm">Register</h2>
    <div class="posForm">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email" style="font-weight: bold;">Email</label>
          <input type="text"
                 id="email"
                 class="form-control widhtinput"
                 formControlName="email">
        </div>
        <div class="form-group">
          <label for="password" style="font-weight: bold;">Password</label>
          <input type="password"
                 id="password"
                 class="form-control widhtinput"
                 formControlName="password">
        </div>
        <button class="btn btn-primary"
                type="submit"
                [disabled]="signupForm.invalid">Create account</button>
      </form>
      <p class="text-danger">{{ errorMessage }}</p>
    </div>
  </div>
