.widhtinput{
    width: 310px;
}
.backgroundsignin {
    background:url('./../../../assets/pictures/backgroundbook.jpg');
    padding: 0px;
    width: 1366px;
    margin-left: -128px;
    height: 600px;
    margin-top: 0px;
}
.posForm{
    margin-left: 855px;
    padding-top: 60px;
}
.posTitleForm{
    margin-left: 855px;
    padding-top: 50px;
}
